<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/admin_portal.css">
    <script src="../public/javascripts/admin.js"></script>
</head>

<body class="dark">

        <%- include("header") %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"> </div>
            <div class="col-10"> 
                <div class = box>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-1"> </div>
                            <div class="col-5">
                                <p class = head>Weather Settings</p>

                                <p class = text>Weather API</p>
                                <form id="apiselect" action = "/admin/admin" method="post">
                                    <label for="api">API Used:</label>
                                    <select name="weatherapi" id="weatherapi">
                                        <option value="VisualCrossing">VisualCrossing</option>
                                        <option value="OpenMeteo">OpenMeteo</option>
                                    </select>
                                    <input type = "submit">
                                </form>
                                <hr>

                                </div>
                            <div class="col-1"> </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-1"> </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>